canvas {
    margin: 20px;
    float:left;
    }
#controls {
    float:left;
    width:150px;
    }
#controls li {
    cursor: pointer;
    padding-bottom:15px;
    font-weight: bold;
    list-style-type: none;
    }
#markup {
    display:none;
    }
